$screen-small: 300px;
$screen-medium: 600px;
$screen-large: 900px;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@import "modules/loader";

body {
	position: relative;
}

.search-form {
	position: relative;

	i.fa-search {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #999;
		font-size: 14px;
	}
}

.panel {
	box-shadow: none;	
}

.search-panel {
	
	width: 100%;
	margin: 0;
	transition: all 0.5s;
	
	&.pristine {
		  @media (min-width: $screen-small) {
			width: 100%;
			margin: 0;
		  }
		  @media (min-width: $screen-medium) {
			width: 80%;
			margin: auto;
			margin-top: 15%;
		  }
		  @media (min-width: $screen-large) {
			width: 80%;
			margin: auto;
			margin-top: 15%;
		  }
	}
}

.label-option {
	display: inline-block;
	margin: 0.2em;
	padding-left: 10px;
	cursor: pointer;

	&:before {
		content: '+';
	}

	&.selected {
		background-color: #65DE5B;
	}

	.badge {
		background-color: #94D9EE;
		color: #fff;
	}
}

