/* Styling the loader */
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader div{
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 45%;
  width: 10%;
  height: 10%;
  background: rgba(255,255,255,0.5);
}