<div class="panel search-panel" ng-class="{pristine: pristine, panelFixed: !pristine}">
  <div class="panel-body">
		<h1 ng-show="pristine">{{'titles.appName' | i18next}}</h1>
		<div class="search-form">
			<form name="searchForm" ng-submit="find()">
				<div class="input-group">
				      <input  name="searchTerm" ng-model="searchTerm" type="search" class="form-control" placeholder="{{'search.placeholder' | i18next}}">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="submit">{{'search.find' | i18next}}</button>
				      </span>
				</div>
			</form>
		</div>				
  </div>
</div>

<div class="row" ng-show="!pristine">
	<div class="col-xs-12 col-md-4">
		<div class="panel">
			<div class="panel-body" ng-repeat="option in options" ng-controller="SearchoptionCtrl">
				<div class="list-group-item">
				<button type="button" class="btn btn-primary btn-xs" ng-click="showMore(option)">+ {{ "indexes:"+option.name | i18next}}</button>
					<oneoption clsss="pull-left" ng-repeat="item in option.variants | filter:selected" />
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-8">
		<div class="panel results-panel">
		  <div class="panel-body">
			<paginationUI />
			<div class="list-group-item" ng-repeat="vacancy in vacancies">
				<div class="row">
					<div class="col-xs-12 col-md-8">
						<h3><a ng-href="#/vacancy/{{vacancy.id}}"> {{vacancy.jobtitle | capitalize}}</a></h3>
						<div>{{vacancy.description | shorten}}</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<div ng-repeat="option in options">
							<a ng-click="setOptionsToURL(item)" class="badge" ng-repeat="item in vacancy[option.name]">{{item}}</a>
						</div>
					</div>
				</div>
			</div>
			<paginationUI />
		  </div>
		</div>
	</div>
</div>




	


