
<div class="modal-header">
    <button class="close pull-right" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'command.close' | i18next}}</span></button>
    <h3 class="modal-title">{{ "indexes:"+option.name | i18next}}</h3>
</div>
<div class="modal-body">
    <oneoption ng-repeat="item in option.variants" />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{'command.apply' | i18next}}</button>
    <button class="btn btn btn-link pull-left" ng-click="cancel()">{{'command.cancel' | i18next}}</button>
</div>
