<div class="panel panel-default">
  <div class="panel-body">
  <h1>{{vacancy.jobtitle | capitalize}}</h1>
<p>{{vacancy.description}}</p>
<div ng-repeat="option in options" ng-show="vacancy[option.name] && vacancy[option.name].length>0">
	<h3>{{ "indexes:"+option.name | i18next}}</h3>
	<span class="badge" ng-repeat="item in vacancy[option.name]">{{item}}</span>
</div>
</div>
</div>